<%= link_to "Back", projects_path, class: "btn btn-secondary mb-3" %>
<div class="card">
    <div class="card-body">
      <h2 class="card-title d-flex justify-content-between">
        <span><%= @project.name %></span>
        <div>
          <%= link_to "Edit", edit_project_path(@project), class: "btn btn-light" %>
          <%= button_to "Delete", @project, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-dark" %>
        </div>
      </h2>

      <div class="mb-4">
        <h6>Add task</h6>
        <%= form_with(model: [@task.project, @task]) do |form| %>
          <% if @task.errors.any? %>
            <div style="color: red">
              <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

              <ul>
                <% @task.errors.each do |error| %>
                  <li><%= error.full_message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <%= form.hidden_field :status, value: 'not-started'%>

          <div class = "input-group ">
            <%= form.text_field :name, class: "form-control", placeholder: "Enter Task name" %>
            <%= form.submit class: "btn btn-primary"%>
          </div>

        <% end %>
      </div>
      
      <h4>Tasks</h4>
      <% @project.tasks.each do |task| %>
        <% if task.persisted? %>
          <div class = "card mb-3">
            <div class = "card-body">
              <span class="badge text-bg-<%= task.badge_color%>"><%= task.status %></span>
              <h5 class="card-title d-flex justify-content-between">
                <span><%= task.name %></span>
                 <div>
                  <%= link_to "Edit", edit_project_task_path(@project, task), class: "btn btn-light btn-sm mb-1" %>
                  <%= button_to "Delete", [@project, task], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-dark btn-sm"  %>
                </div>
              </h5>
              <p><%= task.description %></p>
            </div>
          </div>
        <% end %>
      <% end %>  

    </div>
</div>

