<%= link_to "Back", projects_path, class: "btn btn-light mb-3" %>
<div class="card">
    <div class="card-body">
      <h2 class="card-title d-flex justify-content-between">
        <span><%= @project.name %></span>
        <div>
          <%= link_to "Edit", edit_project_path(@project), class: "btn btn-warning" %>
          <%= button_to "Delete", @project, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
        </div>
      </h2>

      <h6>Add task</h6>
      <%= form_with(model: [@task.project, @task], html: {class: "row row-cols-lg-auto g-3 align-items-center"}) do |form| %>
        <% if @task.errors.any? %>
          <div style="color: red">
            <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

            <ul>
              <% @task.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class = "input-group">
          <%= form.text_field :name, class: "form-control", placeholder: "Enter Task name" %>
          <div class = "input-group-append">
            <%= form.submit class: "btn btn-primary"%>
          <div>
        </div>

      <% end %>

    </div>
</div>

<h1>Tasks</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Status</th>
  </tr>
  <% @project.tasks.each do |task| %>
    <% if task.persisted? %>
      <tr>
        <td><%= task.name %></td>
        <td><%= task.description %></td>
        <td><%= task.status %></td>
        <td><%= link_to "Show", [@project, task] %></td>
        <td><%= link_to "Edit", edit_project_task_path(@project, task) %></td>
        <td><%= button_to "Destroy", [@project, task], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end  %>
  <% end %>
</table>   

